.right-sidebar{

width:360px;

display:flex;

flex-direction:column;

gap:20px;

}

.weather-widget{

background:linear-gradient(135deg,#4F8DFD,#70B7FF);

border-radius:25px;

padding:25px;

color:white;

box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.weather-top{

display:flex;

justify-content:space-between;

align-items:center;

}

.live-badge{

background:#A5D63F;

padding:5px 12px;

border-radius:30px;

font-size:13px;

font-weight:700;

color:#234;

}

.location{

margin:15px 0;

opacity:.9;

}

.weather-widget h1{

font-size:60px;

font-weight:700;

}

.weather-details{

display:flex;

justify-content:space-between;

margin-top:25px;

}

.ai-widget,
.news-widget{

background:white;

border-radius:20px;

padding:20px;

box-shadow:0 12px 25px rgba(0,0,0,.08);

}

.widget-title{

font-size:20px;

font-weight:700;

margin-bottom:15px;

display:flex;

align-items:center;

gap:10px;

color:#355E3B;

}

.chat-box{

background:#F7F7F7;

padding:18px;

border-radius:15px;

margin-bottom:15px;

}

.ai-buttons{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

}

.ai-buttons button{

border:none;

padding:10px;

background:#EEF7E8;

border-radius:12px;

transition:.3s;

}

.ai-buttons button:hover{

background:#7CB342;

color:white;

}

.news-widget ul{

padding-left:18px;

}

.news-widget li{

margin-bottom:12px;

}
.activity-status{

display:inline-block;

padding:4px 12px;

border-radius:30px;

background:#E8F5E9;

color:#2E7D32;

font-size:13px;

font-weight:600;

margin-top:4px;

margin-bottom:6px;

}